//output: index.html
doctype 5
html(lang=es)
	
	head
		title= title
	body
		h1#encabezado Hola Mundo!
		p.centrar Ingresa tu información
		input(type="text", placeholder="ingresa tu nombre")
		<div id="headNav">
		<header>
				//Titulo
		</header>
		<nav class="col-12">
			<div id="menu">
				<ul id="menuLista">
					<li><a href="index.html"> Inicio</a></li>
					<li><a href="buscar.html"> Busqueda avanzada</a></li>
					<li><a href="contacto.html">Contacto</a></li>
				</ul>
			</div>
			<div id="divBuscador">
				<input id="buscador" type="search" size="20">
				<button id="btBuscar"><img src="img/searchIcon.png"></button>
			</div>
		</nav>
		</div>	
		<div id="section">
			<section>
			<div id="intro">
				<h1>¡Bienvenidos!</h1>
				<p>¡Encuentra aqui información acerca de las mejores series y peliculas!</p>
				<p>Puedes conformarte con las peliculas mas populares o realizar una busqueda especializada en nuestra sección de "Busqueda avanzada"</p>
			</div>
			<div id="inicioSeries">
				
			</div>
		</section>
		</div>
	
		<footer>
			<div id="foot">
				<a name="footer"></a>
				<p id="nombre">Nicole Denon <img id="copyright" src="img/Copyright.png">&emsp; &emsp; Aplicaciones móviles 2018</p>
				<p>Contacto: nicole.a.denon@gmail.com</p>
			</div>
		</footer>